form {
	margin:25px auto;
}


form h1 {
	font-weight: normal;
}

 form input[type="text"],
 form input[type="password"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #eae7e7 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 16px Helvetica, Arial, sans-serif;
	display: block;
	margin:10px auto;
	padding: 10px 10px 15px 40px;
	width: 40%;
}
form input[type="text"]:focus,
form input[type="password"]:focus {
	-webkit-box-shadow: 0 0 2px #ed1c24 inset;
	-moz-box-shadow: 0 0 2px #ed1c24 inset;
	-ms-box-shadow: 0 0 2px #ed1c24 inset;
	-o-box-shadow: 0 0 2px #ed1c24 inset;
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: none;
}
#username { background-position: 10px 10px !important }
#password { background-position: 10px -53px !important }

#options {
	width: 45%;
	margin:auto;
}

form a {
	float: right;
	margin-top: 10px;
}

form input[type="submit"] {
	width:30%;
	padding: 5px;
}

@media screen and (min-width: 500px) and (max-width: 700px) {


	form input[type="text"],
 	form input[type="password"] {
 		width: 60%;
 	}

 	#options {
 		width: 68%;
 	}

 	form input[type="submit"] {
		width:50%;
	}

}

@media screen and (max-width: 500px) {
	form input[type="text"],
 	form input[type="password"] {
 		width: 80%;
 	}

 	#options {
 		width: 92%;
 	}

 	form input[type="submit"] {
		width:40%;
	}
}