@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
	margin: 20px auto;
	width: 80%;
	font-size: 110%;
}

header {
	margin: auto;
}

h1 {
	color: #127AC4;
	font-size: 150%;
	margin: 10px auto;
	text-align: center;
}

ul li {
	display: inline-block;
	padding: 12px;
}

ul {
	margin:auto;
	text-align: center;
	padding: 0px;
}


a:active, a:visited, a:link {
	text-decoration: none;
	color:#7C777D;
}

a:hover {
	color:#127AC4;
}

footer {
	overflow: hidden;
	padding: 8px;
    background: #127AC4; /* For browsers that do not support gradients */
 	background: -webkit-linear-gradient(left,#a2dbf2 ,#127AC4); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right,#a2dbf2,#127AC4); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, #a2dbf2, #127AC4); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right,#a2dbf2, #127AC4); /* Standard syntax */
}

footer img {
	float: right;
}

.clear_float {
	clear:both;
}

@media screen and (min-width: 650px) and (max-width: 900px) {
    body {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    body {
        width: 90%;
        font-size: 130%;
    }

	

    ul li a {
    	font-size: 90%;
    }

}

@media screen and (min-width: 450px) and (max-width: 550px) {

	ul {
		width: 90%;
		margin: auto;
	}

	ul li:nth-child(odd) {
		width: 55%;
		float: left;
		text-align: left;
	}

	ul li:nth-child(even)  {
		width: 35%;
		float: right;
		text-align: right;
	}

}

@media screen and  (max-width: 450px) {
	body {
		width: 100%;
	}

	ul li {
		width: 100%;
	}

	h1 {
		font-size: 110%;
	}
}